
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    html {
      scroll-behavior: smooth;
    }
    body {
      background-color: #f0f0f0;
      color: #333;
    }
    .form__section {
      margin: 5rem auto;
      border-radius: 10px;
      box-shadow: 0 6px 7px dodgerblue;
      display: grid;
      place-content: center;
      border: 2px solid dodgerblue;
      background-color: #8f8f8;
    }
    .form {
      padding: 3rem 3rem;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      border: 2px solid darkgrey;
      margin: 10px;
      border-radius: 8px;
    }
    .divs {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;
      align-items: left;
      margin: 8px 0;
    }
    .labels {
      font-weight: bold;
      display: inline-block;
    }
    form > div > input {
      border-radius: 5px;
      height: 2rem;
      width: 300px;
      padding: 8px 5px;
      font-size: 1rem;
      font-weight: normal;
      color: #333;
    }
    form > div > input:focus {
      border: 1.5px solid #000;
    }
    select {
      width: 200px;
      border: 1.5px solid #000;
      background-color: #fff;
      height: 1.3rem;
    }
    .btn {
      background-color: dodgerblue;
      border-radius: 8px;
      color: #fff;
      font-size: 2rem;
      font-weight: 600;
      border: 0;
      outline: 0;
      text-align: center;
      padding: 5px 10px;
      margin-top: 25px;
    }
    .div__msg {
    	margin-top: 8px;
    }
